Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
install-sh
libtool
ltmain.sh
m4/
missing

# libtool
.deps/
.libs/
depcomp
*.la
*.lo

*.dirstamp
*.o

# Demo bits
/popover-test
