
/**
 * borrowed from horst3180 budgie work
 */
@define-color panel_shadow alpha(black, 0.7);
@define-color panel_border alpha(#0f1116, 0.5);

.budgie-popover {
    border-radius: 2px;
    background-color: alpha(#FAFAFA, 0.91);
    background-image: none;
}

.budgie-popover:visited {
    border: 1px solid alpha(black, 0.8);
}

.budgie-popover:backdrop {
    box-shadow: 0 2px 4px 0 @panel_shadow, 0 0 0 1px @panel_border;
    border-radius: 2px;
}
