
/**
 * borrowed from horst3180 budgie work
 */

.budgie-popover,
.budgie-popover.background {
        border-radius: 3px;
        margin: 51px;
        background-clip: border-box;
        background-color: alpha(#FAFAFA, 0.85);
        box-shadow: 0 2px 3px 1px alpha(black, 0.55);
        border-color: alpha(black, 0.35);
}
